<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About - House, M.D. Search Engine</title>
	<link rel="icon" href="assets/favicon.webp">
	<script src="https://tinylytics.app/embed/z4NvPrkWSyKNaBznMxiX.js" defer></script>

	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<style>
		a {
			color: var(--color-blue-700);
			text-decoration: underline;
		}
	</style>
</head>
<body class="font-sans flex flex-col min-h-screen">
	<!-- Title Bar -->
	<header class="bg-white shadow">
        <nav class="container mx-auto p-4 flex justify-between items-center">
			<div><a href="/"><img class="h-8 w-8" src="assets/favicon.webp"/></a></div>
            <div class="text-lg font-bold">House M.D. Search Engine</div>
            <div class="text-lg"><a href="./about.html">About</a></div>
        </nav>
    </header>

	<main class="flex-grow container mx-auto p-6">
		<h1 class="text-2xl mb-4 font-bold">About</h1>
		<section>
			<p>The metadata and information about each episode, the text content and all medical commentary were sourced from <a class="cursor-pointer text-blue-700 underline" href="https://house.fandom.com">house.fandom.com</a> and <a class="cursor-pointer text-blue-700 underline" href="https://politedissent.com">politedissent.com</a>. This site only serves to aggregate and make the content searchable.</p>
			<p>Content from <a class="cursor-pointer text-blue-700 underline" href="https://house.fandom.com">house.fandom.com</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>.</p>
			<p>Content from <a class="cursor-pointer text-blue-700 underline" href="https://politedissent.com">politedissent.com</a> is property of the website's owner.</p>
			<p>Content from <a class="cursor-pointer text-blue-700 underline" href="https://politedissent.com">housemd-guide.com</a> is property of the website's owner.</p>
		</section>
	</main>

	<!-- Footer with Attribution -->
	<footer class="bg-white mt-6 p-4 shadow">
        <div class="container mx-auto text-center">
            <p class="text-gray-600">Content from <a class="cursor-pointer text-blue-700 underline" href="https://house.fandom.com">house.fandom.com</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>.</p>
			<p class="text-gray-600">Content from <a class="cursor-pointer text-blue-700 underline" href="https://politedissent.com">politedissent.com</a> is property of the website's owner.</p>
        </div>
    </footer>
</body>
</html>