<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>House, M.D. Search Engine</title>
	<link rel="icon" href="assets/favicon.webp">
	<script src="https://tinylytics.app/embed/z4NvPrkWSyKNaBznMxiX.js" defer></script>

	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<style>
		a {
			color: var(--color-blue-700);
			text-decoration: underline;
		}
	</style>
</head>
<body class="font-sans flex flex-col min-h-screen">
	<!-- Title Bar -->
	<header class="bg-white shadow">
        <nav class="container mx-auto p-4 flex justify-between items-center">
			<div><a href="/"><img class="h-8 w-8" src="assets/favicon.webp"/></a></div>
            <div class="text-lg font-bold">House M.D. Search Engine</div>
            <div class="text-lg"><a href="./about.html">About</a></div>
        </nav>
    </header>

	<main class="flex-grow container mx-auto p-6">
		<h1 class="text-2xl mb-4 font-bold">Filter Episodes</h1>
		<section id="search-filters">
			<div id="season" class="mb-4">
				<h2 class="text-xl font-bold">Season</h2>
				<ul id="season-list" class="flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
			</div>
			<div id="cast" class="mb-4">
				<h2 class="text-xl font-bold">Characters</h2>
				<ul id="cast-list" class="flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
			</div>
			<div id="zebras" class="mb-4">
				<h2 class="text-xl font-bold">Zebra Factor</h2>
				<ul id="zebras-list" class="flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
			</div>
			<div>
				<h2 id="expand-advanced" class="text-xl font-bold cursor-pointer mb-4">Advanced <span class="text-gray-500 hover:text-gray-900" id="expand-advanced-icon">▾</span></h2>
				<div id="advanced-list" class="hidden">
					<div id="bodyparts" class="mb-4">
						<h2 id="expand-bodyparts" class="text-xl font-bold cursor-pointer">Affected Parts of the Body (OR filter) <span class="text-gray-500 hover:text-gray-900" id="expand-bodyparts-icon">▾</span></h2>
						<ul id="bodyparts-list" class="hidden flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
					</div>
					<div id="fields" class="mb-4">
						<h2 id="expand-fields" class="text-xl font-bold cursor-pointer">Medical Fields (OR filter) <span class="text-gray-500 hover:text-gray-900" id="expand-fields-icon">▾</span></h2>
						<ul id="fields-list" class="hidden flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
					</div>
					<div id="directors" class="mb-4">
						<h2 id="expand-directors" class="text-xl font-bold cursor-pointer">Directors <span class="text-gray-500 hover:text-gray-900" id="expand-directors-icon">▾</span></h2>
						<ul id="directors-list" class="hidden flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
					</div>
					<div id="writers" class="mb-4">
						<h2 id="expand-writers" class="text-xl font-bold cursor-pointer">Writers <span class="text-gray-500 hover:text-gray-900" id="expand-writers-icon">▾</span></h2>
						<ul id="writers-list" class="hidden flex flex-row flex-wrap gap-2 items-center justify-left"></ul>
					</div>
				</div>
			</div>
			<div class="mt-4 flex flex-row gap-5">
				<div id="filter-button" class="bg-blue-500 text-white p-2 cursor-pointer w-20 flex items-center justify-center rounded-md">Search</div>
				<div id="reset-button" class="bg-red-500 text-white p-2 cursor-pointer w-20 flex items-center justify-center rounded-md">Reset</div>
			</div>
		</section>

		<section class="mt-8" id="search-results">
			<h1 class="text-2xl font-bold">Results</h1>

			<section class="mt-8">
				<div class="flex flex-col justify-center items-center"><div id="heatmap"></div></div>
			</section>

			<ul class="mt-8" id="results"></ul>
		</section>
	</main>

	<!-- Footer with Attribution -->
	<footer class="bg-white mt-6 p-4 shadow">
        <div class="container mx-auto text-center">
            <p class="text-gray-600">Content from <a class="cursor-pointer text-blue-700 underline" href="https://house.fandom.com">house.fandom.com</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>.</p>
			<p class="text-gray-600">Content from <a class="cursor-pointer text-blue-700 underline" href="https://politedissent.com">politedissent.com</a> is property of the website's owner.</p>
        </div>
    </footer>

	<script>
		let index = {};
		let filters = {};

		let current_filters = {
			seasons: [],
			zebras: [],
			cast: [],
			directors: [],
			writers: [],
			fields: [],
			bodyparts: [],
		};

		const filter_to_index = {
			"seasons": "season",
			"zebras": "zebra_factor",
			"cast": "cast",
			"directors": "director",
			"writers": "writer",
			"bodyparts": "bodypart",
			"fields": "field"
		};

		function clear_filters() {
			document.querySelectorAll(".filter-element").forEach((e) => {
				e.classList.add("bg-gray-200");
				e.classList.remove("bg-blue-500");
				e.classList.remove("text-white");
			});
		}

		function filter_episodes() {
			let episodes = [];
			for (const [idx, _] of Object.entries(index.episode)) {
				episodes.push(idx);
			};

			for (const [filter_type, filter_values] of Object.entries(current_filters)) {
				if (filter_values.length == 0) continue;

				let filtered = [];

				let filter_col = filter_to_index[filter_type];
				let to_filter = index[filter_col];

				if (["cast", "bodypart", "field"].indexOf(filter_col) > -1) {
					episodes.forEach((idx) => {
						let elements = to_filter[idx];
						let intersection = [];
						if (filter_col == "cast") {
							// Must contain all elements (AND)
							intersection = elements.filter(c => filter_values.includes(c["character"]));
							if (intersection.length == filter_values.length) filtered.push(idx);
						} else {
							// use OR
							intersection = elements.filter(el => filter_values.includes(el));
							if (intersection.length > 0) filtered.push(idx);
						}
					});
				} else {
					episodes.forEach((idx) => {
						let val = to_filter[idx];
						if (filter_values.indexOf(val) > -1) filtered.push(idx);
					});
				};

				episodes = episodes.filter(value => filtered.includes(value));
			};

			return episodes;
		}

		function build_episode_list(episodes) {
			let episode_list = document.getElementById("results");
			episode_list.innerHTML = "";

			episodes.forEach((ep) => {
				let season = index.season[ep];
				let episode = index.episode[ep];
				let title = index.title[ep];
				let airdate = new Date(index.airdate[ep] * 1000).toDateString();

				let li = document.createElement("li");
				li.classList = "flex flex-col bg-gray-200 rounded-md px-8 py-2 my-2 w-full min-h-10";

				let meta = document.createElement("li");
				meta.classList = "flex flex-row flex-nowrap items-center justify-between";
				meta.innerHTML = `<div class="flex flex-row flex-nowrap items-center"><span class="font-bold mr-4 w-20">S${season}E${episode}</span><span><a href="./episodes/s${season}e${episode}.html">${title}</a></span></div>`;

				let info = document.createElement("div");
				info.classList = "mt-2 text-justify hidden";

				let production = document.createElement("p");
				production.classList = "mb-2";
				production.innerHTML = `Director: <span class="font-bold">${index.director[ep]}</span> - Writer <span class="font-bold">${index.writer[ep]}</span> - Aired on: <span class="font-bold">${airdate}</span>`;
				info.appendChild(production);

				let diagnosis = document.createElement("p");
				diagnosis.classList = "mb-2";
				diagnosis.innerHTML = `Final Diagnosis: <span class="font-bold">${index.final_diagnosis[ep]}</span> (Fields: <span class="font-bold">${index.field[ep].join(', ')}</span> - Bodyparts: <span class="font-bold">${index.bodypart[ep].join(', ')}</span>)`;
				info.appendChild(diagnosis);

				let zebra = document.createElement("p");
				zebra.classList = "mb-2";
				zebra.innerHTML = `Zebra Factor: <span class="font-bold">${index.zebra_factor[ep]}/10</span>`;
				info.appendChild(zebra);

				let major_events = document.createElement("ul");
				major_events.classList = "list-disc ml-4";
				index.major_events[ep].forEach((event) => {
					let event_el = document.createElement("li")
					event_el.innerText = event;
					major_events.appendChild(event_el);
				});
				info.appendChild(major_events);

				let expand_span = document.createElement("span");
				expand_span.innerText = "(Expand)";
				expand_span.classList = "cursor-pointer hover:text-gray-700";
				expand_span.addEventListener('click', () => {
					if (info.classList.contains("hidden")) {
						info.classList.remove("hidden");
						expand_span.innerText = "(Unexpand)";
						li.classList.add("py-4");

						let heatmap_square = document.getElementById(`heatmap-${ep}`);
						heatmap_square.classList.remove("bg-green-400");
						heatmap_square.classList.add("bg-blue-500");
					} else {
						info.classList.add("hidden");
						expand_span.innerText = "(Expand)";
						li.classList.remove("py-4");

						let heatmap_square = document.getElementById(`heatmap-${ep}`);
						heatmap_square.classList.add("bg-green-400");
						heatmap_square.classList.remove("bg-blue-500");
					}
				});
				meta.appendChild(expand_span);

				li.appendChild(meta);
				li.appendChild(info);
				episode_list.appendChild(li);
			});
		}

		function update_heatmap(episodes) {
			document.querySelectorAll(".heatmap-square").forEach((s) => { s.classList.remove("bg-green-400"); s.classList.add("bg-gray-100"); });

			episodes.forEach((episode) => {
				let ep = document.getElementById(`heatmap-${episode}`);
				ep.classList.add("bg-green-400");
				ep.classList.remove("bg-gray-100");
			});
		}

		function run_search() {
			let episodes = filter_episodes();
			build_episode_list(episodes);
			update_heatmap(episodes);
		}

		function removeItemAll(arr, value) {
			var i = 0;
			while (i < arr.length) {
				if (arr[i] === value) {
					arr.splice(i, 1);
				} else {
					++i;
				}
			}
			return arr;
		}

		function filter_by(e, list, element) {
			if (e.target.classList.contains("bg-gray-200")) {
				current_filters[list].push(element);
				e.target.classList.remove("bg-gray-200");
				e.target.classList.add("bg-blue-500");
				e.target.classList.add("text-white");
			} else {
				removeItemAll(current_filters[list], element);
				e.target.classList.add("bg-gray-200");
				e.target.classList.remove("bg-blue-500");
				e.target.classList.remove("text-white");
			}
		}

		function setup_filter_list(list, list_el_id, current_filter_list, fixed_width = true) {
			let list_el = document.getElementById(list_el_id);

			list.forEach((element) => {
				let li = document.createElement("li");
				li.classList = "filter-element cursor-pointer bg-gray-200 p-2 rounded-md h-10 flex justify-center items-center hover:bg-blue-500 hover:text-white";
				if (fixed_width) li.classList.add("w-10");
				li.innerText = element;

				li.addEventListener('click', (e) => { filter_by(e, current_filter_list, element); run_search(); })

				list_el.appendChild(li);
			})
		}

		function setup_expandable(name) {
			let expand = document.getElementById(`expand-${name}`);
			let list = document.getElementById(`${name}-list`);
			let span = document.getElementById(`expand-${name}-icon`);
			expand.addEventListener('click', (e) => {
				if (list.classList.contains("hidden")) {
					list.classList.remove("hidden");
					span.innerText = "▸";
				} else {
					list.classList.add("hidden");
					span.innerText = "▾";
				}
			});
		}

		function setup_filters() {
			setup_filter_list([1, 2, 3, 4, 5, 6, 7, 8], "season-list", "seasons");
			setup_filter_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "zebras-list", "zebras");
			setup_filter_list(filters.cast, "cast-list", "cast", fixed_width = false);
			setup_filter_list(filters.directors, "directors-list", "directors", fixed_width = false);
			setup_filter_list(filters.writers, "writers-list", "writers", fixed_width = false);
			setup_filter_list(filters.fields, "fields-list", "fields", fixed_width = false);
			setup_filter_list(filters.bodyparts, "bodyparts-list", "bodyparts", fixed_width = false);

			setup_expandable("advanced");
			setup_expandable("directors");
			setup_expandable("writers");
			setup_expandable("fields");
			setup_expandable("bodyparts");
		}

		function setup_heatmap(episodes) {
			let heatmap = document.getElementById("heatmap");

			let season_elements = [];
			for (let season = 1; season <= 8; season++) {
				let season_element = document.createElement("div");
				season_element.className = "flex flex-row flex-wrap justify-left items-center";
				season_element.innerHTML = `<div class="mr-1">S${season}</div><div class="justify-left items-center" id="season-${season}"></div>`;-
				heatmap.appendChild(season_element);
				season_elements.push(season_element);
			};

			for (idx in index.season) {
				let season = index.season[idx];
				let episode = index.episode[idx];

				let episode_element = document.createElement("a");
				episode_element.href = `./episodes/s${season}e${episode}.html`;
				episode_element.title = `S${season}E${episode} - "${index.title[idx]}"`;
				episode_element.className = `cursor-pointer hover:bg-blue-500 bg-green-400 w-3 h-3 mr-0.5 md:w-5 md:h-5 md:mx-0.5 rounded-md heatmap-square`;
				episode_element.id = `heatmap-${idx}`;

				season_elements[season - 1].appendChild(episode_element);
			};
		}

		function decode_url() {
			const params = new URLSearchParams(window.location.search);
			params.forEach((value, key) => {
				current_filters[key].push(!isNaN(value) ? parseInt(value) : value);

				let list = document.getElementById(`${key}-list`);
				list.childNodes.forEach((n) => {
					if (n.innerText == value) {
						n.classList.remove("bg-gray-200");
						n.classList.add("bg-blue-500");
						n.classList.add("text-white");
					};
				});
			});
		}

		document.getElementById("filter-button").addEventListener('click', (e) => {
			run_search();
		});

		document.getElementById("reset-button").addEventListener('click', (e) => {
			current_filters = {
				seasons: [],
				zebras: [],
				cast: [],
				directors: [],
				writers: [],
				fields: [],
				bodyparts: [],
			};
			clear_filters();
			run_search();
		});

		async function preloadJSONFiles() {
            try {
                const [response1, response2] = await Promise.all([
                    fetch("./assets/filters.json"),
                    fetch("./assets/index.json")
                ]);

                if (!response1.ok || !response2.ok) {
                    throw new Error('Network response was not ok');
                }

                const filters = await response1.json();
                const index = await response2.json();
                return { filters, index };
            } catch (error) {
                console.error('Error fetching JSON files:', error);
            }
        }

        preloadJSONFiles().then((data) => {
			index = data.index;
			filters = data.filters;

			// Initial Setup
			setup_filters();
			setup_heatmap();
			decode_url();
			run_search();
        });
	</script>
</body>
</html>